# Ignore all datasets
ml_model/helmet_yolo/
ml_model/helmet_dataset/
ml_model/license_plate_dataset/
ml_model/lp_yolo/datasets/

# Ignore trained model weights (if large)
*.pt

# Ignore YOLO training outputs
runs/

# Python
venv311/
__pycache__/
*.pyc



















